.main{
    height: 50vh;
    background-image: url('./Car1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
    
}

.Hero{
   
    width: 800px;

    margin: 0 auto;
    height: 200px;
    position: relative;
    top :30%;
    
}

.Value{
    
  
    margin-top: 20px;
    height: 500px;
    margin-bottom: 10px;
}

.child{
    background-color: gray;
    width: 50%;
    height: 500px;
}